@import 'styles/responsive.scss';

.cleaningDetailContainer {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 100px;
  display: flex;
  gap: 100px;

  @include mobile {
    width: 85%;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 0px;
    gap: 50px;
  }
}

.cleaningItem {
  display: flex;
  gap: 30px;

  @include mobile {
    gap: 10px;
  }
}

.cleaningDesc {
  font-size: 24px;
  line-height: 40px;
  color: #333333;


  @include mobile {
    font-size: 12px;
    line-height: 18px;
  }
}

.cleaningTitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 34px;
  color: #0e8778;
  margin-bottom: 30px;
  font-family: 'Baloo Da';

  @include mobile {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 20px;
  }
}

.cleaningItem {
  display: flex;
  align-items: flex-start;
  gap: 30px;

  @include mobile {
    gap: 20px;
  }

  img {
    @include mobile {
      height: 12px;
      margin-top: 2px;
    }
  }

  span {
    font-size: 24px;
    color: #333;

    @include mobile {
      font-size: 12px;
    }
  }
}

.cleaningVarityItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 60%;
  margin: 50px auto;

  @include mobile {
    width: 100%;
    margin: 0px auto;
  }
}

.cleaningVarityItemContainer {
  display: flex;
  width: 30%;
  background: #ffffff;
  border: 1px solid #3e9f93;
  border-radius: 20px;
  gap: 20px;
  height: 344px;

  @include mobile {
    width: 48%;
    margin-top: 20px;
    height: 160px;
  }

  .itemContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;

    @include mobile {
      padding: 10px;
    }
  }

  .itemContentContact {
    background: #0e8778;
    border-radius: 20px;
    padding: 20px;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;

    @include mobile {
      padding: 10px;
    }

    p {
      font-weight: 700;
      font-size: 24px;
      color: #ffffff;

      @include mobile {
        font-size: 12px;
      }
    }

    .contactButton {
      background: #ffffff;
      border-radius: 10px;
      border: none;
      margin-top: 130px;
      padding: 5px 5px;

      @include mobile {
        border-radius: 5px;
        margin-top: 35px;
      }

      span {
        font-size: 20px;
        color: #0e8778;
        padding: 10px 5px;

        @include mobile {
          font-size: 12px;
        }
      }
    }
  }

  p {
    font-weight: 700;
    font-size: 24px;
    color: #3e9f93;

    @include mobile {
      font-size: 12px;
    }
  }

  span {
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    color: #3e9f93;

    @include mobile {
      font-size: 12px;
    }
  }
}

.disinfectionCleaningContentContainer {
  display: flex;
  align-items: center;
  margin-bottom: 150px;
  margin-top: 100px;

  @include mobile {
    width: 85%;
    margin: 0 auto;
    flex-direction: column-reverse;
    align-items: end;
    margin-bottom: 50px;
    margin-top: 35px;
  }

  .des {
    margin-left: calc((100% - 80%)/2);

    @include mobile {
      // margin-top: 70px;
      margin-left: 0px;
      // margin-left: 20px;

    }
    p {
      font-size: 24px;
      color: #333333;
      margin-bottom: 50px;

      @include mobile {
        font-size: 12px;
        margin-bottom: 30px;
      }
    }

    .disinfectionItemWrapper {
      display: flex;
      align-items: center;
      gap: 20px;

      span {
        font-size: 24px;

        @include mobile {
          font-size: 12px;
        }
      }

      @include mobile {
        gap: 20px;
      }
    }
  }
}
