@import 'styles/responsive.scss';

.poolCleaningDetailContainer {
  width: 80%;
  margin: 100px auto;
  display: flex;
  align-items: center;
  gap: 150px;

  @include mobile {
    flex-direction: column;
    align-items: start;
    gap: 0px;
    width: 100%;
    margin: 0px;
    margin-bottom: 30px;
  }

  .poolingDes {
    font-size: 24px;
    margin-bottom: 50px;

    @include tablet {
      font-size: 16px;
    }

    @include mobile {
      width: 80%;
      font-size: 12px;
      margin: 20px auto;
    }
  }

  .poolingDetailContent {
    width: 60%;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 10px;
    @include tablet {
      width: 75%;
    }

    @include mobile {
      width: 80%;
      margin: 10px auto;
    }

    span {
      font-size: 24px;
      color: #333333;

      @include tablet {
        font-size: 16px;
      }

      @include mobile {
        font-size: 12px;
      }
    }

   
  }
}