@import 'styles/responsive.scss';

.applyContainer {
  margin: 80px auto;

  @include tablet {
    width: 85%;
  }

  @include mobile {
    width: 80%;
    margin: 10px auto;
  }

  .applyTitle {
    font-size: 50px;
    text-align: center;
    color: #0f1123;
    text-transform: capitalize;
    font-family: 'Baloo Da';
    font-weight: 700;

    @include tablet {
      font-size: 35px;
    }

    @include mobile {
      font-size: 12px;
    }

    span {
      display: inline;
      font-family: 'Baloo Da';
      font-size: 50px;
      text-decoration: underline;
      text-decoration-color: #fddc3a;
      font-weight: 700;

      @include tablet {
        font-size: 35px;
      }

      @include mobile {
        font-size: 12px;
      }
    }
  }

  .applyGrid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 90px;
    max-width: 900px;
    margin: 80px auto;

    @include mobile {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 40px;
    }

    .applyItem {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 25px;

      img {
        height: 96px;
        width: auto;
      }

      @include tablet {
        img {
          height: 75px;
        }
      }

      @include mobile {
        img {
          height: 40px;
        }
      }

      .applyItemTitle {
        white-space: pre-wrap;
        font-family: 'Helvetica';
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        height: calc(100% - 96px);
        display: flex;
        align-items: center;
        color: #393e46;

        @include tablet {
          font-size: 16px;
          line-height: 18px;
        }

        @include mobile {
          height: calc(100% - 40px);
          font-size: 12px;
          line-height: 14px;
        }
      }
    }
  }
}

.houseSectionConatiner {
  max-width: 950px;
  margin: 100px auto;

  @include mobile {
    width: 80%;
    margin: 10px auto;
  }

  .houseTitle {
    span {
      color: #0e8778;
      font-weight: 700;
      font-size: 32px;

      @include mobile {
        font-size: 20px;
      }
    }

    p {
      font-size: 24px;
      margin-top: 10px;
      color: #333333;

      @include tablet {
        font-size: 16px;
      }

      @include mobile {
        font-size: 12px;
      }
    }
  }

  .productGrid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 70px;
    margin: 50px 0;

    @include mobile {
      grid-template-columns: repeat(1, minmax(0, 1fr));
      gap: 18px;
    }

    .productItem {
      background: #ffffff;
      border: 1px solid #0e8778;
      box-shadow: 0px 0px 20px 5px rgba(178, 216, 200, 0.25);
      border-radius: 10px;
      padding-top: 26px;
      padding-bottom: 35px;
      text-align: center;

      @include mobile {
        padding-top: 13px;
        padding-bottom: 15px;
        width: 200px;
        margin: 0 auto;

        img {
          width: 30px;
        }
      }

      .title {
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        text-transform: capitalize;
        color: #0e8778;
        white-space: pre-wrap;
        margin-top: 30px;

        @include tablet {
          font-size: 16px;
        }

        @include mobile {
          font-size: 12px;
          margin-top: 12px;
          white-space: nowrap;
        }
      }
    }
  }

  .serviceItem {
    display: flex;
    align-items: center;
    margin-top: 55px;

    @include mobile {
      margin-top: 30px;

      img {
        width: 44px;
      }
    }

    .serviceTitle {
      font-size: 24px;
      line-height: 40px;
      text-transform: capitalize;
      color: #333333;
      padding-left: 30px;
      
      @include tablet{
        font-size: 16px;
      }

      @include mobile {
        font-size: 12px;
        padding-left: 20px;
      }
    }
  }
}
