.wrapper {
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 3px 8px 8px -6px #d0d0d0;
}

.wrapperOption, .singleElement {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  margin: 16px 16px 10px 16px;
}

.nameUser {
  font-size: 26px;
  font-weight: 500;
  padding: 0 8px;
  margin-bottom: 10px;
}

.bgrColor {
  position: relative;
  height: 160px;
  width: 100%;
  background: linear-gradient(to left, #f5cfcc, #f8e1ab);
}

.detailWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.avatar {
  position: absolute;
  padding: 10px;
  margin-left: 16px;
  border-radius: 500px;
  bottom: -45px;
}

.avatar,
.avatar img {
  background-color: #fff;
  border-radius: 500px;
}

.btn {
  margin-bottom: 20px;

  div:first-child {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.075) !important;
    overflow: hidden !important;
  }
}

.detailCol {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 30px 0 30px;

  .detailLabel {
    display: flex;
    align-items: center;
    color: rgba(114, 132, 154, 0.7);
    font-size: 14px;
    margin-right: 10px;

    svg {
      font-size: 18px;
      color: #3e79f7;
      margin-right: 6px;
    }
  }

  .detailUser {
    font-size: 14px;
  }

  &:last-child {
    margin-top: 30px;
  }
}

.contentModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: -20px;
  .iconModalReject {
    svg {
      font-size: 65px;
      color: #ff4d4f !important;
    }
  }

  .iconModal {
    svg {
      font-size: 100px;
      color: #1890ff;
    }
  }

  .titleModal {
    font-size: 14px;
    margin: 30px 0 10px 0;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .avatar {
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .nameUser {
    text-align: center;
  }
}

@media (min-width: 1600px) {
  .wrapper {
    height: 100%;
  }
}
