
@import 'styles/responsive.scss';

.faqCollapseContainer {
  margin-top: 40px;
  margin-bottom: 40px;

  @include mobile {
    margin-top: 10px;
    margin-bottom: 40px;
  }
  .ant-collapse-header {
    padding: 19px 16px;

    @include mobile {
      padding: 12px 16px;
    }
  }
  .ant-collapse-item {
    border-bottom: 1px solid #aaaaaa !important; 
  }
  .ant-collapse-arrow {
    background-color: #3c8477;
    border-radius: 5px;
    padding: 5px;

    @include mobile {
      padding: 3px;
    }
  }

  .ant-collapse-header-text {
    font-weight: 700;
    font-size: 20px;
    color: #393e46;

    @include mobile {

      font-size: 12px;
    }
  }
}
