@import './antd.scss';
@import './responsive.scss';
@import url('https://fonts.googleapis.com/css?family=Baloo Da');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --primary-color: #3e9f93;
  --color-border-table: rgb(238, 238, 238);
}

body {
}

html *::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px !important;
  background-color: rgb(173, 173, 173) !important;
}

html *::-webkit-scrollbar-track {
  border-radius: 0 !important;
  background-color: rgba(255, 255, 255, 0) !important;
}

@font-face {
  font-family: 'Baloo Da';
  src: url('/fonts/Baloo-Regular.otf');
}

.roboto-font {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-font {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lora-font {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.nunito-font {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.montserrat-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

* {
  font-size: 14px;
  font-weight: 300;
  font-family: 'Helvetica', 'Arial', sans-serif;
  scroll-behavior: smooth;

  svg {
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
  }
}

.text-font-family {
  font-family: 'Baloo Da';
}

th {
  font-size: 14px !important;
}

@for $i from 0 through 500 {
  .font-size-#{$i} {
    font-size: #{$i}px;
  }

  .p-#{$i} {
    padding: #{$i}px;
  }

  .pt-#{$i} {
    padding-top: #{$i}px;
  }

  .pl-#{$i} {
    padding-left: #{$i}px;
  }

  .pb-#{$i} {
    padding-bottom: #{$i}px;
  }

  .pr-#{$i} {
    padding-right: #{$i}px;
  }

  .m-#{$i} {
    margin: #{$i}px;
  }

  .mb-#{$i} {
    margin-bottom: #{$i}px;
  }

  .mb-#{$i}-i {
    margin-bottom: #{$i}px !important;
  }

  .mt-#{$i} {
    margin-top: #{$i}px !important;
  }

  .ml-#{$i} {
    margin-left: #{$i}px;
  }

  .ml-#{$i}-i {
    margin-left: #{$i}px !important;
  }

  .mr-#{$i} {
    margin-right: #{$i}px;
  }

  .mr-#{$i}-i {
    margin-right: #{$i}px !important;
  }

  .gap-#{$i} {
    gap: #{$i}px;
  }

  .w-#{$i} {
    width: #{$i}px;
  }

  .h-#{$i} {
    height: #{$i}px;
  }

  .m--#{i} {
    margin: #{$i}px;
  }

  .radius-#{$i} {
    border-radius: #{$i}px;
  }

  .radius-t-r-#{$i} {
    border-top-right-radius: #{$i}px;
  }

  .radius-b-r-#{$i} {
    border-bottom-right-radius: #{$i}px;
  }

  .text-weight-#{$i} {
    font-weight: #{$i};
  }

  .padding-top-bottom-#{$i}-i {
    padding-top: #{$i}px !important;
    padding-bottom: #{$i}px !important;
  }

  .padding-left-right-#{$i}-i {
    padding-left: #{$i}px !important;
    padding-right: #{$i}px !important;
  }

  .radius-#{$i}-i {
    border-radius: #{$i}px !important;
  }

  .font-size-#{$i}-i {
    font-size: #{$i}px !important;
  }

  .mb-#{$i}-i {
    margin-bottom: #{$i}px !important;
  }

  .line-height-#{$i} {
    line-height: #{$i}px;
  }

  @include tablet {
    .h-tb-#{$i} {
      height: #{$i}px !important;
    }

    .pt-tb-#{$i} {
      padding-top: #{$i}px !important;
    }

    .font-size-tb-#{$i} {
      font-size: #{$i}px !important;
    }

    .gap-tb-#{$i} {
      gap: #{$i}px !important;
    }

    .line-height-tb-#{$i} {
      line-height: #{$i}px !important;
    }
  }

  @include mobile {
    .h-sp-#{$i} {
      height: #{$i}px !important;
    }

    .mt-sp-#{$i} {
      margin-top: #{$i}px !important;
    }

    .mb-sp-#{$i} {
      margin-bottom: #{$i}px !important;
    }

    .mr-sp-#{$i} {
      margin-right: #{$i}px !important;
    }

    .pb-sp-#{$i} {
      padding-bottom: #{$i}px !important;
    }

    .pt-sp-#{$i} {
      padding-top: #{$i}px !important;
    }

    .gap-sp-#{$i} {
      gap: #{$i}px !important;
    }

    .font-size-sp-#{$i} {
      font-size: #{$i}px !important;
    }

    .line-height-sp-#{$i} {
      line-height: #{$i}px !important;
    }
  }
}

.visbility-hidden {
  visibility: hidden;
}
.none {
  display: none !important;
}

.none-sp {
  @media screen and (max-width: 768px) {
   display: none; 
  } 
  display: none !important;
}
.grid {
  display: grid;
}

.grid-template-columns-3auto {
  grid-template-columns: auto auto auto;
}

.flex {
  display: flex;
}

.flex-i {
  display: flex !important;
}

.flex-reverse {
  flex-direction: row-reverse;
}

.flex-i {
  display: flex !important;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.item-center {
  align-items: center;
}

.item-sp-unset {
  @include mobile {
    align-items: unset;
  }
}

.item-flex-start {
  align-items: flex-start !important;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center;
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-red {
  background-color: #dc3545;
}

.bg-yellow {
  background-color: #ffc107;
}

.bg-white {
  background-color: white;
}

.bg-green {
  background-color: #18ff04;
}

.bg-light-gray {
  background-color: #f3f3f3;
}

.bg-modal {
  background-color: #e9e9e9;
}
.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-inherit {
  text-align: inherit !important;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-underline {
  text-decoration: underline;
}

.color-primary {
  color: var(--primary-color);
}

.color-primary-i {
  color: var(--primary-color) !important;
}

.color-primary-dark {
  color: #36625a;
}

.color-gray {
  color: #8c8c8c;
}

.color-black {
  color: black;
}

.color-white {
  color: white;
}

.color-white-i {
  color: white !important;
}

.color-red {
  color: #dc3545;
}

.color-black-primary {
  color: #333;
}

.text-bold {
  font-weight: 700;
}

.text-normal {
  font-weight: normal !important;
}

.mgr-at {
  margin-right: auto;
}

.btn {
  display: flex !important;
  align-items: center;
  justify-content: center;
  min-width: 80px;
}

.mH-100vh {
  min-height: 100vh;
}

.h-screen {
  height: 100vh;
}
.h-550 {
  height: 550px;
}
.h-700 {
  height: 700px;
}
.h-full-sp {
  @media screen and (max-width: 768px) {
    height: 100% !important; 
  }
}

.h-50pr {
  height: 50%;
}

.w-min-content {
  width: min-content;
}

.w-full {
  width: 100%;
}

.w-80-pc {
  width: 80%;
}

.w-95-pc {
  width: 95% !important;
}

.h-full {
  height: 100%;
}

.w100percent {
  width: 100%;
}

.h100percent {
  height: 100%;
}

.pointer {
  cursor: pointer;
}

.vertical-text-top {
  vertical-align: text-top;
}

.vertical-text-top-i {
  vertical-align: text-top !important;
}

.vertical-bottom {
  vertical-align: bottom;
}

.vertical-bottom-i {
  vertical-align: bottom !important;
}

.vertical-middle {
  vertical-align: middle;
}

.overflow-hidden {
  overflow: hidden;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute !important;
}

.zIndex-minus {
  z-index: -1 !important;
}
.margin-auto {
  margin: auto;
}

.margin-center {
  margin: 0 auto;
}

.vertical-bottom {
  vertical-align: bottom;
}

.overflow-hidden {
  overflow: hidden;
}

.margin-auto {
  margin: auto;
}

@media all and (max-width: 768px) {
  .max-width-768-p-16 {
    padding: 16px;
  }
}

.vertical-bottom {
  vertical-align: bottom;
}

.overflow-hidden {
  overflow: hidden;
}

.margin-auto {
  margin: auto;
}

.img-cover {
  object-fit: cover;
}

.transition-height {
  transition: height 2s;
}

.pre-wrap {
  white-space: pre-wrap;
}

.no-wrap {
  white-space: nowrap;
}
.hover-underline {
  &:hover {
    text-decoration: underline;
  }
}

.line-height-unset {
  line-height: unset;
}

.max-width-400px {
  @media screen and (min-width: 768px) {
    max-width: 400px;
  }
}

.all-unset {
  all: unset;
}

.bot-icon-wrapper {
  all: unset;
  background-color: #3c8477;
  border-radius: 50%;
  padding: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;

  path {
    fill: white;
  }

  svg {
    fill: white;
    width: 25px;
  }

  &:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }

  @media screen and (max-width: 768px) {
    margin-right: 10px; 
    margin-bottom: 10px;
  }
}

.border-bottom-1 {
  border-bottom: 1px solid black;
}

.chat-bot-wrapper {
  width: 50%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
  transition: all 250ms ease 0s;
  transform-origin: right bottom;
  border-radius: 20px;
  
  @media screen and (max-width: 768px){
    width: 100%;
    right: 0px;
    bottom: 0px;
    border-radius: 0px !important;
  }
}
.react-chatbot-kit-chat-container {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;

  @media screen and (max-width: 768px) {
   height: 100%; 
   overflow: visible;
  }
}



.popup-remind {
  background-color: white;
  color: #3c8477;
  padding: 7px 10px;
  border-radius: 16px;
  border: 1px solid #3c8477;
  overflow: hidden;
  @media screen and (max-width: 768px) {
    margin-right: 10px;
  }
}

.start-question {
  background-color: white;
  border: 1px solid #3c8477;
  border-radius: 16px;
  color: #3c8477;
  padding: 5px 10px;
  cursor: pointer;
  text-align: center;
  font-size: 14px;

  &:hover {
    background-color: #3c8477;
    color: white;
  }
}

// DotLoading
.jumping-dots span {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  animation: jump 1s infinite;
  display: inline-block;
}

.jumping-dots .dot-1 {
  background-color: #3c8477;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 5px;
  animation-delay: 200ms;
}

.jumping-dots .dot-2 {
  background-color: #3c8477;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 5px;
  animation-delay: 400ms;
}

.jumping-dots .dot-3 {
  background-color: #3c8477;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 5px;
  animation-delay: 600ms;
}

@keyframes jump {
  0% {
    bottom: 0px;
  }
  20% {
    bottom: 5px;
  }
  40% {
    bottom: 0px;
  }
}