@import './antd.scss';
@import './responsive.scss';
@import url('https://fonts.googleapis.com/css?family=Baloo Da');

:root {
  --primary-color: #3E9F93;
  --color-border-table: rgb(238, 238, 238);
}

html *::-webkit-scrollbar {
  // border-radius: 0 !important;
  // width: 10px !important;
  // height: 10px !important;
  display: none;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px !important;
  background-color: rgb(173, 173, 173) !important;
}

html *::-webkit-scrollbar-track {
  border-radius: 0 !important;
  background-color: rgba(255, 255, 255, 0) !important;
}


@font-face {
  font-family: 'Baloo Da';
  src: url('/fonts/Baloo-Regular.otf');
}

* {
  font-size: 14px;
  font-weight: 300;
  font-family: 'Helvetica', 'Arial', sans-serif;
  scroll-behavior: smooth;

  svg {
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
 }
}

.text-font-family {
    font-family: 'Baloo Da';
}

th {
  font-size: 14px !important;
}

@for $i from 0 through 500 {
  .font-size-#{$i} {
    font-size: #{$i}px;
  }

  .p-#{$i} {
    padding: #{$i}px;
  }

  .pt-#{$i} {
    padding-top: #{$i}px;
  }

  .pl-#{$i} {
    padding-left: #{$i}px;
  }

  .pb-#{$i} {
    padding-bottom: #{$i}px;
  }

  .pr-#{$i} {
    padding-right: #{$i}px;
  }

  .m-#{$i} {
    margin: #{$i}px;
  }

  .mb-#{$i} {
    margin-bottom: #{$i}px;
  }

  .mb-#{$i}-i {
    margin-bottom: #{$i}px !important;
  }

  .mt-#{$i} {
    margin-top: #{$i}px !important;
  }

  .ml-#{$i} {
    margin-left: #{$i}px;
  }

  .ml-#{$i}-i {
    margin-left: #{$i}px !important;
  }

  .mr-#{$i} {
    margin-right: #{$i}px;
  }

  .mr-#{$i}-i {
    margin-right: #{$i}px !important;
  }

  .gap-#{$i} {
    gap: #{$i}px;
  }

  .w-#{$i} {
    width: #{$i}px;
  }

  .h-#{$i} {
    height: #{$i}px;
  }

  .m--#{i} {
    margin: #{$i}px;
  }

  .radius-#{$i} {
    border-radius: #{$i}px;
  }

  .radius-t-r-#{$i} {
    border-top-right-radius: #{$i}px;
  }

  .radius-b-r-#{$i} {
    border-bottom-right-radius: #{$i}px;
  }

  .text-weight-#{$i} {
    font-weight: #{$i};
  }

  .padding-top-bottom-#{$i}-i {
    padding-top: #{$i}px !important;
    padding-bottom: #{$i}px !important;
  }

  .padding-left-right-#{$i}-i {
    padding-left: #{$i}px !important;
    padding-right: #{$i}px !important;
  }

  .radius-#{$i}-i {
    border-radius: #{$i}px !important;
  }

  .font-size-#{$i}-i {
    font-size: #{$i}px !important;
  }

  .mb-#{$i}-i {
    margin-bottom: #{$i}px !important;
  }

  .line-height-#{$i} {
    line-height: #{$i}px;
  }

  @include tablet {

    .h-tb-#{$i} {
      height: #{$i}px !important;
    }

    .pt-tb-#{$i} {
      padding-top: #{$i}px !important;
    }

    .font-size-tb-#{$i} {
      font-size: #{$i}px !important;
    } 

    .gap-tb-#{$i} {
      gap:#{$i}px !important;
    }

    .line-height-tb-#{$i} {
      line-height: #{$i}px !important;
    }
  }

  @include mobile {

    .h-sp-#{$i} {
      height: #{$i}px !important;
    }

    .mt-sp-#{$i} {
      margin-top:#{$i}px !important;
    }

    .mb-sp-#{$i} {
      margin-bottom:#{$i}px !important;
    }

    .mr-sp-#{$i} {
      margin-right:#{$i}px !important;
    }

    .pb-sp-#{$i} {
      padding-bottom:#{$i}px !important;
    }
    
    .pt-sp-#{$i} {
      padding-top:#{$i}px !important;
    }

    .gap-sp-#{$i} {
      gap:#{$i}px !important;
    }

    .font-size-sp-#{$i} {
      font-size: #{$i}px !important;
    }

    .line-height-sp-#{$i} {
      line-height: #{$i}px !important;
    }

  }
}
.none {
  display: none !important;
}

.flex {
  display: flex;
}

.flex-reverse {
  flex-direction: row-reverse;
}

.flex-i {
  display: flex !important;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.item-center {
  align-items: center;
}

.item-sp-unset {
  @include mobile {
    align-items: unset;
  }
}

.item-flex-start {
  align-items: flex-start !important;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly
}

.justify-center {
  justify-content: center;
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-red {
  background-color: #dc3545;
}

.bg-yellow {
  background-color: #ffc107;
}

.bg-white {
  background-color: white;
}

.bg-green {
  background-color: #18ff04;
}

.bg-light-gray {
  background-color: #f3f3f3;
}

.bg-modal {
  background-color: #e9e9e9;
}
.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left;
}

.text-inherit {
  text-align: inherit !important;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-underline {
  text-decoration: underline;
}

.color-primary {
  color: var(--primary-color);
}

.color-primary-i {
  color: var(--primary-color) !important;
}

.color-primary-dark {
  color: #36625A;
}

.color-gray {
  color: #8c8c8c;
}

.color-black {
  color: black;
}

.color-white {
  color: white;
}

.color-white-i {
  color: white !important;
}

.color-red {
  color: #dc3545;
}

.color-black-primary {
  color: #333;
}

.text-bold {
  font-weight: 700;
}

.text-normal {
  font-weight: normal !important;
}

.mgr-at {
  margin-right: auto;
}

.btn {
  display: flex !important;
  align-items: center;
  justify-content: center;
  min-width: 80px;
}

.mH-100vh {
  min-height: 100vh;
}

.h-50pr {
  height: 50%;
}

.w-full {
  width: 100%;
}

.w-80-pc {
  width: 80%;
}

.w-95-pc {
  width: 95% !important;
}

.h-full {
  height: 100%;
}

.w100percent {
  width: 100%;
}

.h100percent {
  height: 100%;
}

.pointer {
  cursor: pointer;
}

.vertical-text-top {
  vertical-align: text-top;
}

.vertical-text-top-i {
  vertical-align: text-top !important;
}

.vertical-bottom {
  vertical-align: bottom;
}

.vertical-bottom-i {
  vertical-align: bottom !important;
}

.vertical-middle {
  vertical-align: middle;
}

.overflow-hidden {
  overflow: hidden;
}

.relative {
  position: relative;
}

.margin-auto {
  margin: auto;
}

.margin-center {
  margin: 0 auto;
}


.vertical-bottom {
  vertical-align: bottom;
}

.overflow-hidden {
  overflow: hidden;
}

.margin-auto {
  margin: auto;
}

@media all and (max-width: 768px) {
  .max-width-768-p-16 {
    padding: 16px;
  }
}

.vertical-bottom {
  vertical-align: bottom;
}

.overflow-hidden {
  overflow: hidden;
}

.margin-auto {
  margin: auto;
}

.img-cover {
  object-fit: cover;
}

.transition-height {
  transition: height 2s;
}

.pre-wrap {
  white-space: pre-wrap;
}
.hover-underline {
  &:hover {
    text-decoration: underline;
  }
}

.line-height-unset {
  line-height: unset;
}

.max-width-400px {
  @media screen and (min-width: 768px) {
    max-width: 400px;
  }
}

// chatbot
.bot-icon-wrapper {
  background-color: #3C8477; 
  border-radius: 50%;
  padding: 10px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 40px;
    fill: white;
  }
}
.chat-bot-wrapper {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 9999;
  width: 450px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}
.react-chatbot-kit-chat-container {
  width: 100%;
}

.react-chatbot-kit-chat-inner-container {
  height: 60vh;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  background-color: #fff;
  font-weight: 600;
}

.react-chatbot-kit-chat-header {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: white;
  height: 40px;
  text-align: center;
  border: 1px solid black;
  border-bottom: none;
  font-family: 'Baloo Da';
  background-color: #3C8477;
}

.react-chatbot-kit-chat-input-container {
  // position: absolute;
  // bottom: 0px;
  width: 100%;
  display: flex;
  border: 1px solid black;
  border-bottom-right-radius: 10px;
}

.react-chatbot-kit-chat-message-container {
  padding: 0 17.5px 10px 17.5px;
  overflow: auto;
  height: calc(100% - 85px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 1px solid black;
}

.react-chatbot-kit-chat-input {
  width: 100%;
  padding: 12.5px;
  border: none;
  font-size: 0.85rem;
  border-top: 1px solid #d8d8d8;
  border-bottom-left-radius: 5px;
}

.react-chatbot-kit-chat-input-form {
  width: 100%;
  display: flex;
}

.react-chatbot-kit-chat-input::placeholder {
  color: #585858;
}

.react-chatbot-kit-chat-btn-send {
  background-color: #3C8477;
  width: 100px;
  border: none;
  color: #fff;
  border-bottom-right-radius: 5px;

  svg {
    fill: white;
    width: 25px
  }
}

.react-chatbot-kit-chat-btn-send-icon {
  fill: #fff;
  width: 15px;
  margin: 0 auto;

  svg {
    width: 15px;
  }
}

.message-style {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 16px;

  svg { 
    width: 30px;
  }

  .role-user {
    float: right;
    display: flex;
    justify-content: flex-end;
    background-color: #2F80ED;
    border-radius: 20px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 15px;
    width: 60%;
    height: auto;
    word-wrap: break-word;
    word-break: break-all;
  }
  
  .role-bot {
    display: flex;
    justify-content: flex-start;
    background-color: #F7F7F7;
    border-radius: 20px;
    color: #1B1A57;
    padding: 10px 15px;
    width: 70%;
    height: auto;
    word-wrap: break-word;
    word-break: break-all;
    margin-bottom: 10px;
  }
}

