@import 'styles/responsive.scss';

.partimeContainer {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 65px;
  font-family: 'Baloo Da' !important;

  @include tablet {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @include mobile {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    margin-top: 50px;
    margin-bottom: 50px;
  }


  .partimeItem {
    border: 1px solid #0e8778;
    border-radius: 10px;
    padding: 22px 44px;

    @include tablet {
      padding: 15px 20px;
    }

    .title {
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      color: #0e8778;
      margin-top: 25px;

      @include tablet {
        font-size: 16px;
      }

      @include mobile {
        font-size: 14px;
        line-height: 14px;
      }
    }

    .content {
      margin-top: 30px;
      white-space: pre-wrap;
      font-size: 20px;
      line-height: 40px;
      color: #333333;

      @include tablet {
        font-size: 16px;
        line-height: 30px;
      }

      span {
        font-size: 20px;
        font-weight: 700;
        text-decoration-line: underline;
        color: #0e8778;
        margin-left: 5px;
        cursor: pointer;

        @include tablet {
          font-size: 16px;
        }

        @include mobile {
          font-size: 12px;
        }
      }

      @include mobile {
        font-size: 12px;
        line-height: 20px;
      }
    }
  }
}

.noteSection {
  font-size: 14px;

  @include mobile {
    font-size: 10px;
  }

  span {
    color: #0e8778;
    font-weight: 700;
    font-size: 20px;
    margin-right: 5px;

    @include mobile {
      font-size: 12px;

    }
  }
}
