@import 'styles/responsive.scss';

.airconServiceDetailContainer{

  .introText {
    font-weight: 700;
    font-size: 32px;
    text-align: left;
    color: #0e8778;
    font-family: 'Baloo Da';

    @include mobile {
      font-size: 14px;
    }
  }

  .serviceDetail {
    display: flex;
    align-items: center;
    gap: 150px;
    margin-top: 150px;


    @include mobile {
      flex-direction: column;
      align-items: start;
      gap: 0px;
      margin-top: 50px;

    }
  }

  .serviceDetailAignRight {
    @extend .serviceDetail;
    @include mobile {
      align-items: end;
    }
  }

  .serviceDetailContent {
    width: 45%;
    text-align: left;
    p {
      font-size: 24px;
      color: #333333;

      @include mobile {
        font-size: 12px;
      }
    }

    @include mobile {
      width: 90%;
      margin: 30px auto;
    }
  }
}

.airconItem {
  display: flex;
  gap: 30px;

  span {
    font-size: 24px;
    color: #333;

    @include mobile {
      font-size: 12px;
    }
  }

  @include mobile {
    gap: 10px;
  }
}

.marginLeftBaseOnWidth {
  margin-left: calc((100% - 80%)/2);

  @include mobile {
    margin: 0 auto;
  }
}