@import 'styles/responsive.scss';

.headerContainer {
  mix-blend-mode: normal;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.12);
  position: fixed;
  width: 100vw;
  z-index: 9;
  background-color: white;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 62px; 
}

.buttonLogin {
  all: unset;
  color: #3C8477;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s; 
  font-family: 'Baloo Da';
}