@import 'styles/responsive.scss';

.contentContainer {
  width: 80%;
  margin: 0 auto;

  @include mobile {
    width: 100%;
  }
}

// Work
.workContainer {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 70px;

  @include mobile {
    width: 90%;
    justify-content: space-between;
    gap: 0;
  }
}

.workTitle {
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  text-transform: capitalize;
  color: #333333;
  text-decoration: underline;
  text-decoration-color: #fddc3a;
  font-family: 'Baloo Da';

  @include mobile {
    font-size: 20px;
  }
}

.workItemWrapper {
  display: flex;
  height: 100%;
  position: relative;
  padding-top: 20px;

  p {
    font-weight: 700;
    top: 0;
    left: 0;
    font-size: 64px;
    color: #e6e6e6;
    opacity: 0.5;
    margin-bottom: 0;

    @include mobile {
      font-size: 16px;
    }
  }

  .imageWrapper {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @include mobile {
      margin-top: 20px;
    }
  }

  .workItemLine {
    width: 80px;
    height: 0;
    border: 3px dashed #9fcfc9;
    position: absolute;
    top: 50%;
    right: -20%;
    z-index: 99;
  }
}

.titleStyle {
  font-family: 'Baloo Da';
  font-weight: 700;
  font-size: 66px;
  text-align: center;
  text-transform: capitalize;
  color: #333333;
  text-decoration: underline;
  text-decoration-color: #fddc3a;
  margin-top: 150px;

  @include tablet {
    font-size: 35px;
    margin-top: 100px;
  }

  @include mobile {
    font-size: 20px;
    margin-top: 80px;
  }
}

.reFerralWorkContainer {

  @include mobile {
    width: 90%;
    margin: 0 auto;
  }
}