@import 'styles/responsive.scss';
// pc: title 88 - text - 24
// tablet title 35 text 16
// mobile title 20 text 12

.HomeWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.imageWrapper {
  margin-top: 100px;
  width: 150px;
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  margin: 0 auto;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}