@import 'styles/responsive.scss';
// pc: title 88 - text - 24
// tablet title 35 text 16
// mobile title 20 text 12

.HomeWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20;
}

.titleHome {
  display: flex;
  flex-direction: column;
  gap: 20px;

  span {
    width: 400px;
    font-family: 'Baloo Da';
    font-size: 12px;
    text-align: center;
    font-weight: lighter;
  }
}

.imageWrapper {
  margin-top: 100px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0 auto;

  div {
    font-family: 'Baloo Da';
  }

  img {
    width: auto;
    height: 100px;
    object-fit: cover;
  }
}
