.introContainer {
  color: #333;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  .introWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .introLeftSign {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.introDes {
  margin-left: 150px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.cleanerAvatarWrapper {
  max-width: 728px;
  height: 734px;  
}
