@import 'styles/responsive.scss';

.handymanServiceContainer {
  // background-color: red;
}

.handymanServiceDetail {
  width: 80%;
  margin: 0 auto;

  .introText {
    font-size: 32px;
    color: #0e8778;
    font-family: 'Baloo Da';

    @include mobile {
      font-size: 14px;
    }
  }

  .serviceDetail {
    display: flex;
    align-items: center;
    gap: 150px;

    @include mobile {
      flex-direction: column;
      align-items: start;
      gap: 0px;
    }
  }

  .serviceDetailContent {
    width: 100%;
    text-align: left;
    p {
      font-size: 24px;
      color: #333333;

      @include mobile {
        font-size: 12px;
      }
    }

    @include mobile {
      width: 90%;
      margin-top: 10px;
    }
  }
}

.disclaimerWrapper {
  margin-top: 150px;
  margin-bottom: 170px;

  @include mobile {
    margin-top: 20px;
    margin-bottom: 100px;
  }
}
