@import 'styles/responsive.scss';

.aboutUsDetailContainer {
  margin-top: 40px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;

  @include mobile {
    flex-direction: column-reverse;
    justify-content: unset;
    align-items: unset;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .descWrapper {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 24px;

    @include tablet {
      width: 80%;
      font-size: 16px;
    }

    @include mobile {
      width: 90%;
      margin-top: 20px;
      font-size: 12px;
    }
  }

  .imageWrapper {
    width: 100vw;
    img {
      width: 100%;
    }
    @include mobile {
      display: flex;
      justify-content: flex-end;
    }
  }


  span,
  h3 {
    font-size: 50px;
    display: flex;
    gap: 15px;
    color: #0f1123;
    font-weight: 700;

    @include mobile {
      font-size: 18px;
      gap: 10px;
    }
  }

  h3 {
    text-decoration: underline;
    text-decoration-color: #fddc3a;
  }

  p {
    font-size: 25px;

    @include tablet {
      font-size: 16px;
    }

    @include mobile {
      font-size: 12px;
    }
  }
}
