@import 'styles/responsive.scss';
.footerContainer {
  background-color: #b2d8c8;
  width: 100vw;
}

.footerWrapper {
  width: 80%;
  max-width: 1920px;
  padding: 50px 0px;
  color: #36625a;
  font-size: 16px;
  margin: 0 auto;

  @include tablet {
    padding: 20px 0px;
    width: 85%;
  }
  @include mobile {
    padding: 20px 0px;
    width: 85%;
  }

  .footerLinkInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include tablet {
      gap: 30px;
    }

    @include mobile {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
    }

    .spLinkInfo {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
  }

  .footerCopyRight {
    display: flex;
    justify-content: space-between;
    @include mobile {
      flex-direction: column;
      gap: 10px;

      p {
        font-size: 12px;
        margin-bottom: 0px;
      }
    }
  }

  .dividerStyle {
    background-color: #0e8778;

    @include mobile {
      width: 50%;
      margin: 0 auto;
      margin-top: 23px;
      margin-bottom: 15px;
    }
  }
}

.headerText {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #0e8778;

  @include mobile {
    font-size: 12px;
  }
}

.quickLinks {
  display: flex;
  flex-direction: column;
  gap: 15px;

  p {
    font-size: 16px;
  }

  @include mobile {
    gap: 10px;
    p {
      font-size: 12px;
      a {
        color: #36625a;
        font-weight: 400;
      }
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  span {
    font-size: 16px;
  }

  a {
    color: #36625a;
  }

  @include mobile {
    span {
      font-size: 12px;
    }
  }
}

.buttonSubs {
  color: white !important;
  background-color: #0e8778 !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border: none !important;
  height: 40px !important;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25) !important;
}

.inputWrapper {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);

  @include mobile {
    margin-top: 10px;
    margin-bottom: 0px;
  }
}

.inputStyle {
  height: 40px !important;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  border: none !important;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
}

.dividerWrapper {
  @include mobile {
    width: 100%;
    margin: 0 auto;
  }
}
